.main{
	margin: 0 auto;
	width: 800px;
	height: 500px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}
#head{
	width:inherit;
	height: 400px;

}

a {
	padding: 5px;
}
.fImage{
    background: url('http://jssor.com/theme/img/t01.png') -800px -800px no-repeat}

#ss{
	position: absolute;
}
#st{
	position: absolute;
}

#foot{
	height: 100px;
	padding-top: 5px;
	width: 1330px;

}
.fImage{
	height: 72px;
	width: 72px;
	float: left;
	position: relative;
}

.fImage img{
	position: absolute;
}

#left{
	z-index: 3;
	position: absolute;
	top: 200px;
	border-radius: 50%;
}
#right{
	z-index: 3;
	position: absolute;
	right: 0;
	top: 200px;
	border-radius: 50%;
}